In [1]:
import dice_ml
from dice_ml.utils import helpers

In [3]:
d = dice_ml.Data(dataframe=helpers.load_adult_income_dataset(),
                 continuous_features=['age', 'hours_per_week'],
                 outcome_name='income')
# Pre-trained ML mode
backend = 'PYT'
m = dice_ml.Model(model_path=dice_ml.utils.helpers.get_adult_income_modelpath(backend = backend), backend = backend)
# DiCE explanation instance
exp = dice_ml.Dice(d,m)

In [4]:
query_instance = {'age':22,
                  'workclass':'Private',
                  'education':'HS-grad',
                  'marital_status':'Single',
                  'occupation':'Service',
                  'race': 'White',
                  'gender':'Female',
                  'hours_per_week': 45}

In [9]:
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=1, desired_class="opposite")

Diverse Counterfactuals found! total time taken: 00 min 03 sec

In [10]:
print(dice_exp.visualize_as_dataframe())

Query instance (original outcome : 0)

    age workclass education marital_status occupation   race  gender  hours_per_week    income
0  22.0   Private   HS-grad         Single    Service  White  Female            45.0  0.000042

Diverse Counterfactual set (new outcome : 1)

    age workclass    education marital_status occupation   race  gender  hours_per_week  income
0  49.0   Private  Prof-school        Married    Service  White  Female            45.0   0.973

None

In [11]:
print(dice_exp.org_instance)

    age workclass education marital_status occupation   race  gender  hours_per_week    income
0  22.0   Private   HS-grad         Single    Service  White  Female            45.0  0.000042

In [13]:
print(dice_exp.final_cfs_df)

    age workclass    education marital_status occupation   race  gender  hours_per_week  income
0  49.0   Private  Prof-school        Married    Service  White  Female            45.0   0.973